<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
   
    <h3>UserName: <%= showuser.userName %></h3>
    <h3>First Name: <%= showuser.firstName %></h3>
    <h3>Last Name: <%= showuser.lastName %></h3>
    <h3>Email: <%= showuser.email %></h3>
    <h3>Grade: <%= showuser.grade %></h3>
    <h3>UserType: <%= showuser.userType %></h3>
    <ul class="currClass">Classes: 
       <% for(let i = 0; i < clss.length; i++){ %>
       <li> Subject: <%= clss[i].name %>, </li> 
       <!-- <li> Department: <%= clss[i].department %>, </li> 
       <li> Grade: <%= clss[i].grade %> | </li> 
       <li> Teacher: <%= clss[i].teacherName %> | </li> -->
        <!--Do I need a teacherSchema for this? ^  -->
        <!-- or to convert the objectId into a string? -->
        <!-- Or create a separate loop?   -->
        <!-- Teacher is attached to usertype, in the UserSchema. -->
       <% } %>
       </ul>





       <!-- checkboxes -->
<form action="/addClasses" method="POST" class="" novalidate>

    <ul class="checkOffClass">Classes: 
       <% for(let i = 0; i < allClasses.length; i++){
        const checked = showuser.classes.find(id => id.toString() === allClasses[i]._id.toString())
        %>
       <input type="checkbox" <%=  checked ? 'checked' : '' %>  name="<%= allClasses[i]._id %>"><li> Subject: <%= allClasses[i].name %>, </li> 

       <!-- next step, to be able to update class, without having to remove the current classes and re-add them -->

       <!-- <li> Department: <%= allClasses[i].department %>, </li> 
       <li> Grade: <%= allClasses[i].grade %> | </li> 
       <li> Teacher: <%= allClasses[i].teacherName %> | </li> -->
       <% } %>
       <input type="hidden" name="studentId" value="<%=showuser._id %>">
       <input type="submit"> Update Classes </input>
       </ul>

       <div>
        <img src="data:image/<%=showuser.img.contentType%>;base64,
             <%=showuser.img.data.toString('base64')%>">
       </div>

            <!-- <h5> image.name </h5> -->
            <h5><%= showuser.img %></h5>
            <!-- change to the name of that corresponds with the user schema, and targets the image -->

    </form>
   <!-- Need to move up. So that it's directly across,   -->
   <!-- from the cloned classes above -->




    <a href="/logout">Logout</a>
    <a href="/admin">Admin</a>
    <a href="/">Home</a>
    

    <script src="js/main.js"></script>
</body>
</html>